.inputCheckBoxContent {
    display: flex;
    flex-direction: column;

    label {
        color: gray;
        font-size: 0.7rem;
        margin-right: 0.25rem;
        font-weight: 600;
    }

    input {
        background-color: #F3F3F3;
        border-radius: 4px;
        color: black;
        padding-inline: 0.35rem;
    }
}

.errorForm {
    color: rgb(199, 12, 12);
    font-size: 12px;
    font-weight: 600;
}