.counterContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContent {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 100%;

    button {
        margin-inline: 0.25rem;
    }
}